* {
    font-family: Open-Sans, sans-serif;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background: #313131;
    overflow: hidden;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}

.logo a:first-child{
    margin-left: 22px;
}

.logo img,
.logo h4 {
    vertical-align: middle;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: white;
}

.logo h4:hover {
    color: #18b4cf;
    transition: 0.3s;

}

.main-menu {
    width: 722px;
    margin-left: -2rem;
    text-transform: uppercase;
}

.main-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu a {
    font-size: 15px;
    color: white;
}
.main-menu a:hover {
    color: #18B4CF;
    transform: scale(1.1);
    transition: 0.3s;
}

.search-box {
    position: relative;
    width: 70px;
    height: 100%;
}

.search-box button{
    position: absolute;
    width: 70px;
    height: 70px;
    background: black;
    border: none;
    outline: none;
}

.search-box i {
    color: white;
    font-size: 17px;
}

.search-input {
    position: absolute;
    display: flex;
    vertical-align: top;
    padding-left: 5px;
    right: -170px;
    height: 70px;
    z-index: 0;
    outline: none;
    background: black;
    transition: right 0.3s;
    color: white;
    border: none;
}

.search-box:hover .search-input {
    right: 70px;   
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/bg-header.jpeg) no-repeat;
    min-height: 385px;
    background-attachment: fixed;
    background-position: 100% 170%;
    background-size: cover;
}

.header-container-content h1{
    text-transform: uppercase;
    font-size: 27px;
    margin-bottom: 44px;
    color: white;
}

.header-buttons,
.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-buttons button {
    width: 170px;
    height: 55px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    outline: none;
    background: #89CA62;
    color: white;
}

.header-buttons button:first-child {
    margin-right: 20px;   
}
.header-buttons button:last-child {
    background: #14B9D5;
}

.posts-container {
    width: 100%;
    height: 1070px;
    background: #F2F2F2;
}

.posts-container h2  {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 70px;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: bold;
    color: #18B4CF;
}

.column-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 1208px;
}

.column-filling {
    margin: 0px 15px;
    background: white;
}

.column-filling h6 {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #353A3D;
}

.clients-container {
    display: grid;
    background: url(../img/bg-parallax.jpeg) no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 590px;
}

.clients-box {
    display: grid;
    grid-gap: 60px;
    align-content: center;
}

.clients-box .heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.clients-box .line {
    justify-self: center;
    width: 60px;
    height: 3px;
    background: #18B4CF;
}

.brands {
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.brands a {
    display: grid;
    align-self: center;
    justify-content: center;
}

.hot-news {
    margin-bottom: 70px;
}

.top-rated .heading,
.hot-news .heading {
    display: grid;
    justify-content: center;
    align-self: center;
    margin: 52px auto;
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18B4CF;
}

.row-layout {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    padding: 0;
}

.prophecy-hotel {grid-area: prophecy;}
.nebula-hotel {grid-area: nebula;}
.western-pyramid {grid-area: western;}
.grand-meadows {grid-area: grand;}
.wanderlust-resort {grid-area: wanderlust;}
.twin-sanctuary {grid-area: twin;}
.prism-hotel {grid-area: prism;}
.king-shroud {grid-area: king;}

.hot-news-wrapper {
    display: grid;
    /*grid-template-columns: repeat(4, 1fr);*/
    grid-template: 
    "prophecy prophecy prophecy nebula" auto
    "western western grand grand" auto
    "wanderlust wanderlust twin twin" auto
    "prism king king king" auto
    / 312px 302px 277px 277px;
    grid-row-gap: 43px;
    justify-content: center;
}

.hot-news-wrapper div {
    background: #F9F7F7;
}

.prophecy-hotel,
.king-shroud {
    display: flex;
    align-items: center;
}

.middle-box-text,
.big-box-text {
    display: grid;
    text-align: right;
    margin-right: 24px;
}

.big-box-text {
    margin-top: 18px;
    margin-bottom: 10px ;
}

.middle-box-text h4,
.big-box-text h4 {
    margin-bottom: 18px;
}

.hot-news-wrapper h4 {
    font-size: 18px;
    font-weight: bold;
}

.western-pyramid,
.grand-meadows,
.wanderlust-resort,
.twin-sanctuary {
    display: grid;
    width: 554px;
}

.prophecy-hotel,
.king-shroud {
    width: 856px;
}

.nebula-hotel,
.prism-hotel {
    display: grid;
    text-align: center;
    width: 277px;
}

.footer {
    display: grid;
    justify-content: center;
    width: 100%;
    height: 80px;
    background: black;
    color: white;
}

.footer-wrapper {
    display: grid;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 1168px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.copyright {
    display: flex;
    align-self: center;
    font-size: 13px;
}

.copyright a {
    color: white;
    margin: 0 5px;
}

.icon {
    display: flex;
    justify-self: end;    
}

.to-section{
    display: flex;
    justify-content: space-around;
    padding: 0 200px;
    background-color: #313131;
}

.link-to-section{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13px;    
    line-height: 1.33;
    font-weight: 200;
    padding: 10px 20px;
    margin: 0 10px;
    transition: color 0.3s linear;
}

.link-to-section:hover{
    color: #14B9D5;
}

.go-up{
    outline: none;
}

